@charset "utf-8";

/**** INIT ****/
* {margin:0;padding:0;box-sizing:border-box;color:#444;}
a {text-decoration:none;color:#444;}
a:hover {text-decoration:underline;}
::placeholder {color:#aaa;}
strong {font-weight:700;}
li {list-style:none;}
i {display:inline-block;background-repeat:no-repeat;background-position:center;background-size:cover;}
button {border:none;background:transparent;}

html, body {height: 100%;}

.visual-content {position:relative;height:100%;} 
.visual-content .swiper-container {width: 100%;height: 100%;}

.visual-box {position:relative;width:100%;height:100%;}
.visual-box .bg-box {width:100%;height:100%;}
.visual-box .bg-box img {display:inline-block;width:100%;height:100%;}
.visual-box .btn-area .btn-more {font-size:20px;padding:5px;margin-top:50px;border:1px solid #000;}
.visual-box .text-box {position: absolute;left:50px;top:33%;z-index:10;}
.visual-box .text-box.r-type {left:auto;right:50px;top:33%;z-index:10;}
.visual-box .text-box .title {padding-bottom:50px;font-size:40px;}

/* 슬라이드 활성화 전 스타일 */
.visual-box.no1 .text-box .title {opacity:0;transform: translate(0,80px);transition: all 1.5s;}
.visual-box.no2 .text-box .title {opacity:0;transform: translate(0,80px);transition: all 1.5s;}
.visual-box.no2 .text-box .btn-area {opacity:0;transform: translate(0,80px);transition: all 1.5s 0.3s;}
.visual-box.no3 .text-box .title {opacity:0;transform: translate(0,-80px);transition: all 1.5s;}
.visual-box.no3 .text-box .text {opacity:0;transform: translate(0,-80px);transition: all 1.5s 0.2s;}
.visual-box.no3 .text-box .btn-area {opacity:0;transform: translate(0,-80px);transition: all 1.5s 0.4s;}
.visual-box.no4 .text-box .title {opacity:0;transform: translate(0,80px);transition: all 1.5s;}
.visual-box.no4 .text-box .text {opacity:0;transform: translate(0,80px);transition: all 1.5s 0.2s;}
.visual-box.no4 .text-box .btn-area {opacity:0;transform: translate(0,80px);transition: all 1.5s 0.4s;}

/* 슬라이드 활성화 후 스타일 */
.swiper-slide-active .visual-box .text-box .title,
.swiper-slide-active .visual-box .text-box .text,
.swiper-slide-active .visual-box .text-box .btn-area {opacity:1;transform: translate(0,0);}

/*중앙 넥스트 버튼 바*/
.center-arrow {position:absolute;left:0;right:0;top:40%;height:2px;background:red;}
.center-arrow .bar {width:100%;height:100%;}
.center-arrow .bar .btn-arrow {position:absolute;left:0;top:-4px;width:100px;height:10px;font-size: 0;background:#000;transition:all linear 4.3s;}
.swiper-slide-active .center-arrow .bar .btn-arrow {left:98%;}

/* 페이지네이션 및 재생버튼 */
.swiper-pagination-area {overflow:hidden;position:absolute;right:75px;bottom:75px;z-index:10;}
.swiper-pagination-area:after {content:'';display:block;clear:both;}
.swiper-pagination-area .pagination-btn-area {float:left;}
.swiper-pagination-area .swiper-pagination {position:initial;float:left;}
.swiper-pagination-area .swiper-pagination .swiper-pagination-bullet {width:15px;height:15px;margin-left:10px;}
.swiper-pagination-area .swiper-pagination .swiper-pagination-bullet:first-child {margin-left:0;}
